trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  mavenVersion: '3.9.0'

steps:
  - task: Maven@3
    inputs:
      mavenPomFile: 'nexus/pom.xml'
      goals: 'clean package'
      options: '-DskipTests'
      publishJUnitResults: false

  - task: Docker@2
    inputs:
      containerRegistry: 'DockerHub'
      repository: 'nexus-mindtrack'
      command: 'buildAndPush'
      Dockerfile: 'nexus/Dockerfile'
      tags: |
        $(Build.BuildId)
        latest

  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'Azure-Subscription'
      appName: 'nexus-mindtrack'
      package: '$(Pipeline.Workspace)/**/*.jar'
      deploymentMethod: 'auto'









